.p-button-edit, .p-button-edit:enabled:hover, .p-button-edit:enabled:active, .p-button-edit:enabled:focus{
    background-color: transparent;
    outline: none;
    border: none;
    color: #007ad9;
    box-shadow: none;
    font-size: 18px;
    width: auto !important;
}

.p-button-remove, 
.p-button-remove:enabled:hover, .p-button-remove:enabled:active, .p-button-remove:enabled:focus{
    background-color: transparent;
    outline: none;
    border: none;
    color: #C62828 ;
    box-shadow: none;
    font-size: 18px;
    width: auto !important;
}

#pricing-table-component .ui-table .ui-table-tbody > tr > td {
    padding: 0.571em 0.857em !important;
}

#pricing-table-component input[type="text"] {
    width: 100%;
}

#pricing-table-component .ui-inputtext {
    width: 100%;
}


/* {
    background-color: transparent;
    outline: none;
    border: none;
    color: red;
    box-shadow: none;
}

{
    background-color: transparent;
    outline: none;
    border: none;
    color: red;
    box-shadow: none;
}

.p-button-edit:enabled:focus{
    background-color: transparent;
    outline: none;
    border: none;
    color: red;
    box-shadow: none;
} */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}