<div class="col-12 col-md-12" [formGroup]="form">
  <div class="row mb-2 mt-2 align-items-center">
    <div class="col-auto">
      Pricing Table
    </div>
  </div>

  <p-table id="pricing-table-component" [columns]="columns" [value]="control.value" class="pricing-table" dataKey="id"
    editMode="row" showAddButton="true" #dt [rowTrackBy]="trackByFn">
    <ng-template pTemplate="header" let-columns class="ui-table">
      <tr class="ui-table-thead">
        <th pResizableColumn>Min</th>
        <th pResizableColumn>Max</th>
        <th *ngFor="let col of columns" pResizableColumn>
          {{ col.name }}
        </th>
        <th style="width: 8rem">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" class="ui-table-tbod" let-rowData let-columns="columns" let-editing="editing"
      let-ri="rowIndex">
      <tr [pEditableRow]="rowData" #tr [formGroup]="control.controls[ri]">
        <td style="background-color: #ddd9d9;" class="forInputBox">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText pKeyFilter="int" type="number" class="form-control-sm" [title]="getErrors(ri, 'min')"
                placeholder="Enter Min" name="min{{ri}}" formControlName="min" />

            </ng-template>
            <ng-template pTemplate="output">
              {{ rowData.min }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td style="background-color: #ddd9d9;" class="forInputBox">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText pKeyFilter="int" type="number" class="form-control-sm" [title]="getErrors(ri, 'max')"
                placeholder="Enter Max" name="max{{ri}}" formControlName="max" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ rowData.max }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td *ngFor="let col of columns" class="ui-resizable-column" [class.full_Width_With_Icon]="col.quickFill">
          <div class="fullWidthIcon">
            <p-cellEditor title={{col.toolTip}} class="text-ellipse">
              <ng-template pTemplate="input" *ngIf="col.type == 'date'">
                <p-calendar [formControlName]="col.field" dataType="string" class="form-control-sm-calendar">
                </p-calendar>
              </ng-template>
              <ng-template pTemplate="input" *ngIf="!(col.type == 'date')">
                <p-inputNumber [formControlName]="col.field" mode="currency" currency="USD" class="form-control-sm"
                  [title]="getErrors(ri, col.field)" placeholder="Enter {{ col.name }}"
                  [minFractionDigits]="col.precision ? col.precision : 0"
                  [maxFractionDigits]="col.precision ? col.precision : 0">
                </p-inputNumber>
              </ng-template>
              <ng-template *ngIf="col.type == 'currency'" pTemplate="output">
                {{ rowData[col.field] | currency: "USD":true:'2.0-5' }}
              </ng-template>
              <ng-template *ngIf="!(col.type == 'currency')" pTemplate="output">
                {{ rowData[col.field] }}
              </ng-template>
            </p-cellEditor>
            <div class="d-flex align-items-center">
              <span *ngIf="rowData[col.field] && col.quickFill" style="cursor: pointer;" title="Copy below this value"
                (click)="quickFill(col.field, ri)">
                <i class="far fa-file-download ml-1"></i>
              </span>
              <input *ngIf="rowData[col.field] && col.quickFill" style="cursor: pointer;" type="radio"
                [name]="col.field" title="Start copying below this value" class="ml-1 mt-0"
                (click)="startFill(col.field, ri)" />
            </div>
          </div>
        </td>

        <td style="text-align: center">
          <button *ngIf="!editing" pButton pRipple type="button" title="Edit" pInitEditableRow icon="pi pi-pencil"
            (click)="editPrice(rowData)" class="p-button-rounded p-button-text p-button-edit mr-3"></button>
          <button *ngIf="editing" pButton pRipple type="button" title="Save" icon="pi pi-check"
            (click)="savePrice(rowData, dt, tr, ri)"
            class="p-button-rounded p-button-text p-button-success p-button-edit mr-3" style="color: #00C853;"></button>
          <button *ngIf="editing && (ri != 0 || !rowData.isNew)" pButton pRipple type="button" title="Cancel"
            pCancelEditableRow icon="pi pi-times" (click)="cancelPrice(rowData, ri)"
            class="p-button-rounded p-button-text p-button-danger  p-button-remove mr-3"></button>
          <button *ngIf="!editing && ri != 0" pButton pRipple title="Delete" type="button" pCancelEditableRow
            icon="pi pi-trash" (click)="deletePrice(ri)"
            class="p-button-rounded p-button-text p-button-danger  p-button-remove mr-3"></button>
          <button pButton pRipple type="button" title="Add" (click)="addRow(ri)" icon="pi pi-plus" [table]="dt"
            class="p-button-rounded p-button-text p-button-edit mr-3"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>