.align-form {
  margin: 75px auto;
  width: 85%;
}

#multiple-select .p-autocomplete {
  display: inherit;
  position: relative;
}

#product-input .p-autocomplete {
  display: inherit;
  position: relative;
}

#product-input .p-inputtext {
  width: 100%;
}

body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container:not(.ui-state-disabled):hover,
body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container:not(.ui-state-disabled).ui-state-focus {
  border-color: transparent;
}
