
<div class="col-12">
  <h1 style="font-weight: 500;">
    <i class="fa fa-wpforms mr-1" aria-hidden="true"></i> Product Form
  </h1>
</div>
<div class="col-12 col-md-12 for-multiple-select-dropdown">
  <form class="form-inline" [formGroup]="productForm" id="multiple-select"
        onkeypress="if (event.keyCode == 13) { return false; }">

    <app-product-attr-input class="col-4" [id]="136461" [allowMultipleValues]="false" formControlName="as400Name"
                            [standAlone]="true"></app-product-attr-input>

    <app-product-attr-input class="col-4" [id]="136460" [allowMultipleValues]="false" formControlName="as400VendorCode"
                            [standAlone]="true" [ignoreParent]="true">
    </app-product-attr-input>
    <app-product-attr-input class="col-4" [id]="43038" [allowMultipleValues]="false"
                            formControlName="as400ManufacturingType" [standAlone]="true" [ignoreParent]="true"></app-product-attr-input>


    <app-product-attr-input class="col-12" [id]="367" formControlName="productSizeT" [allowNewRow]="false"
                            [allowMultipleValues]="false" [tiedOptions]="['Hex Code','test']" orientation="H" [expanded]="true"
                            [ignoreSpecificValue]="true">
    </app-product-attr-input>


    <app-product-attr-input class="col-12" [id]="93" formControlName="productSize2">
    </app-product-attr-input>
    <app-product-attr-input class="col-12" [id]="94" formControlName="productSize10">
    </app-product-attr-input>

    <app-product-attr-input class="col-12" [id]="225" formControlName="productSize11" [ignoreSpecificValue]="true">
    </app-product-attr-input>

    <app-pricing-table formControlName="pricingData" [columns]="pricingCols" [interval]=50></app-pricing-table>

    <div class="col-12 mt-2">
      <div class="col-12 text-center">
        <button class="btn btn-secondary btn_min-width mr-3">
          Back
        </button>
        <button (click)="handleSubmitForm()" class="btn btn-primary btn_min-width">
          Submit
        </button>
      </div>
    </div>
  </form>
  <br />
  <div class="col-12 pl-0">
    <h1 style="font-weight: 500;">
      <!-- <i aria-hidden="true" class="fa fa-plus margin-right-5"></i>
      <i aria-hidden="true" class="fa fa-minus"></i>  -->
      Product Form Data
    </h1>
  </div>
  <ngx-json-viewer [json]="productForm.getRawValue()"></ngx-json-viewer>
</div>
