<div class="row pr-attr mt-2" [formGroup]="productFieldForm" style="align-items: self-end">
  <div class="col-sm-2 align-label pl-0 pr-0" [ngClass]=" nameRequired && standAlone ?'d-none' : 'col-sm-2' ">
    <div class="pl-0 col-sm-12 invisible mb-0 mt-0">name</div>
    <span class="font-size-smll-weight">
      <ngx-shimmer-loading *ngIf="!rule" style="width: 100%"></ngx-shimmer-loading>
      <span *ngIf="rule">{{ label }}</span>
    </span>
  </div>
  <div class="col-sm-10">
    <div class="row align-items-start" id="productattr-form">
      <ng-container>
        <a [class.visibility-hidden]="
           !(controlRowCol.controls.length>
          1 && rule != 'specific' && orientation != 'H')
          " class="btn btn-xs margin_top_left" [class.expanded]="expanded" [class.collapsed]="!expanded"
          (click)="expanded = !expanded">
          <i class="fas fa-chevron-down"></i>
        </a>
        <div class="col pl-2">

          <!-- Orientation vertical(Default) -->
          <!-- Div rule - if no tied OR (if tied & orien!='H') -->
          <div *ngIf="!tiedOptions || (tiedOptions && orientation == 'V')">
            <div class="row mb-2 mt-0 {{ cssClass }}" *ngFor="let controlRow of controlRowCol.controls; let i = index"
                 [class.display-none]="!expanded && i != 0" style="align-items: self-end"
                 id="{{ i > 0 ? 'collapse' + id : null }}">
              <ng-container [formGroup]="controlRow">
                <!-- Name Section -->
                <div class="form-group col-sm-3 name-section" id="product-input"
                     *ngIf="!(rule == 'limit' && standAlone)">
                  <div class="pl-0 col-sm-12 font-size-small" *ngIf="i == 0">
                    {{ nameLabel }}<span *ngIf="rule == 'specific' && hasSpecificValue"> - {{ valueLabel }}</span>
                    <span class="text-danger ml-1" *ngIf="nameRequired">*</span>
                  </div>
                  <!-- Shimmer -->
                  <ng-container *ngIf="!rule">
                    <ngx-shimmer-loading style="width: 100%" [width]="'100%'" [height]="'30px'"></ngx-shimmer-loading>
                  </ng-container>

                  <!-- Any Case -->
                  <ng-container *ngIf="rule === 'any'">
                    <p-autoComplete id="name{{ id }}{{ i }}" formControlName="name" class="product col-12 pl-0 pr-0"
                                    [minLength]="1" [suggestions]="nameResults" (completeMethod)="filterName($event, i)"
                                    [disabled]="controlRow.get('disableProp.name').value || disableName"
                                    (onBlur)="tiedOptions && !tiedOptions.length ? onNameSelect($event, i):null">
                    </p-autoComplete>
                  </ng-container>

                  <!-- Limit Case -->
                  <ng-container *ngIf="rule === 'limit'">
                    <p-autoComplete id="name{{ id }}{{ i }}" delay="1000"
                                    class="col-12 pl-0 pr-0 product-limit product-limit-dropdown" formControlName="name"
                                    [suggestions]="nameResults" (completeMethod)="filterName($event, i)" [dropdown]="true"
                                    [readonly]="false" [minLength]="1" [disabled]="
                      standAlone ||
                      controlRow.get('disableProp.name').value ||
                      disableName
                    " [forceSelection]="true" (onBlur)="onNameSelect($event, i)">
                    </p-autoComplete>
                  </ng-container>

                  <!-- Specific Case -->
                  <ng-container *ngIf="rule === 'specific' && i == 0">
                    <p-multiSelect id="P-multiselect-panel" [style]="{ minWidth: '450px' }" [showToggleAll]="false"
                                   [options]="specificResults" (onChange)="onChangeMultiSelect($event)"
                                   [(ngModel)]="selectedSpecificOptions" [ngModelOptions]="{ standalone: true }"
                                   [virtualScroll]="false" [itemSize]="50" filterBy="name" [disabled]="
                      standAlone ||
                      controlRow.get('disableProp.name').value ||
                      disableName
                    " (onPanelShow)="onPanelShow()">
                      <ng-template pTemplate="selectedItems">
                        <span>{{ getSelectedItemsLabel() }}</span>
                      </ng-template>
                      <ng-template let-option let-y="index" pTemplate="item">
                        <div class="w-100">
                          <span>{{ option.name }}</span>
                          <div (click)="onClickChildOptionContainer($event)" class="child-option-checkbox"
                               *ngFor="let childOption of option.value.childOptions">
                            <p-checkbox name="{{ option.name }}" [value]="childOption.value"
                                        label="{{ childOption.name }}" (click)="onClickChildOptionChecbox($event, i)"
                                        [(ngModel)]="option.value.selectedChildOptions" [ngModelOptions]="{ standalone: true }"
                                        (onChange)="onChangeChildOptionCheckbox(option)">
                            </p-checkbox>
                          </div>
                        </div>
                      </ng-template>
                    </p-multiSelect>  
                  </ng-container>
                  <span style="display: block" *ngIf="
                    controlRow.get('name').touched &&
                    controlRow.get('name').hasError('required')
                  " class="invalid-feedback font-size-small">
                    Name is required.
                  </span>
                  <span *ngIf="
                    controlRow.get('name').touched &&
                    controlRow.get('name').hasError('pattern')
                  " style="display: block" class="invalid-feedback font-size-small">
                    Name is invalid.
                  </span>
                </div>
                <!--End of Name Section -->
                <!-- Value Section -->
                <div class="form-group pl-0 value-section" [ngClass]="standAlone ? 'col-12' : 'col-5'" id="product-list"
                     *ngIf="!rule || ((rule === 'any' || rule === 'limit') && !nameOnly)">
                  <div class="pl-0 col-sm-12 font-size-small" *ngIf="i == 0">
                    {{ valueLabel }}
                    <a *ngIf="resolve && resolutionContains('value', i)" (click)="renderResolveOverlay('value', $event, i)"><i class="fa fa-question-circle"></i></a>
                    <span class="text-danger ml-1" *ngIf="valueRequired">*</span>
                  </div>
                  <div class="col-12 pl-0 pr-0" id="multiple-select">
                    <!-- Shimmer -->
                    <ng-container *ngIf="!rule">
                      <ngx-shimmer-loading class="col-12 pl-0 pr-0 product" style="width: 100%" [width]="'100%'"
                                           [height]="'30px'"></ngx-shimmer-loading>
                    </ng-container>
                    <!-- Any / Limit Case -->
                    <ng-container *ngIf="rule">
                      <p-autoComplete id="value{{ id }}{{ i }}" formControlName="value" class="col-12 pl-0 pr-0 product"
                                      [minLength]="1" [suggestions]="valueResults" (completeMethod)="filterValue($event, i)"
                                      [multiple]="allowMultipleValues" (onKeyUp)="
                        allowMultipleValues ? onValueKeyUp($event, i) : valueCapitalize? ($event.target.value = $event.target.value.toUpperCase()) : null
                      " [disabled]="
                        controlRow.get('disableProp.value')?.value ||
                        disableValue
                      " [dropdown]="!allowMultipleValues">
                      </p-autoComplete>
                      <ng-container *ngIf="allowMultipleValues && valueResults.length == 0 && controlRow.get('value').touched">
                          <button class="btn btn-sm btn-warning" (click)="onForceAdd(id,i)"><i class="fa fa-plus"></i> Force Add</button>
                      </ng-container>
                    </ng-container>
                      <span *ngIf="
                      controlRow.get('value').touched &&
                      controlRow.get('value').hasError('required')
                    " style="display: block" class="invalid-feedback font-size-small">
                        Value is required.
                      </span>
                      <span *ngIf="
                      controlRow.get('value').touched &&
                      controlRow.get('value').hasError('pattern')
                    " style="display: block" class="invalid-feedback font-size-small">
                        Value is invalid.
                      </span>
</div>
                </div>
                <!-- End of Value Section -->
                <!-- Tied Option Section -->
                <div class="form-group col-sm-4 tied-section px-0">
                  <div class="row w-100 mx-0">
                    <div class="col-12 col-sm pl-0 "
                         *ngIf="!rule || (tiedOptions && (rule === 'any' || rule ==='limit'))">
                      <ng-container>
                        <div class="col-12 pl-0 font-size-small">
                          <label class="justify-content-start" *ngIf="i == 0">
                            {{ tiedLabel }}
                            <span class="required text-danger ml-1" *ngIf="tiedOptionRequired">*</span>
                          </label>
                        </div>
                        <div class="col-12 pl-0 pr-0 width-product-attr-input width-product-attr-input_fullwidth">
                          <!-- Shimmer -->
                          <ng-container *ngIf="!rule">
                            <ngx-shimmer-loading style="width: 100%" [width]="'100%'" [height]="'30px'">
                            </ngx-shimmer-loading>
                          </ng-container>
                          <!-- Any Case -->
                          <ng-container *ngIf="rule">
                            <p-autoComplete class="col-12 pl-0 pr-0 product product_width_p-autocomplete"
                                            formControlName="tiedAttributeValue" [suggestions]="tiedOptionsResults"
                                            (completeMethod)="filterTied($event, i)" [dropdown]="tiedOptions.length"
                                            [readonly]="tiedOptions.length" [disabled]="
                              controlRow.get('disableProp.tied')?.value ||
                              disableTied
                            ">
                            </p-autoComplete>
                          </ng-container>
                          <div *ngIf="
                            controlRow.get('tiedAttributeValue').touched &&
                            controlRow
                              .get('tiedAttributeValue')
                              .hasError('required')
                          " style="display: block" class="invalid-feedback font-size-small">
                            Tied is required.
                          </div>
                        </div>
                      </ng-container>
                    </div>
                    <div class="col-sm-auto align-btn pl-0 pr-0 text-center" id="btn-shimmer">
                      <ng-container *ngIf="!rule && i == 0">
                        <ngx-shimmer-loading style="width: 100%" [width]="'100%'" [height]="'30px'">
                        </ngx-shimmer-loading>
                      </ng-container>
                      <ng-container *ngIf="rule && allowNewRow">
                        <button *ngIf="i == 0" type="button" (click)="expanded = true; addControlRow(i)"
                                class="btn btn-primary btn-sm">
                          <i class="fa fa-plus"></i>
                        </button>
                        <button *ngIf="i > 0" type="button" (click)="deleteControlRow(i)"
                                class="btn btn-danger mt-0 btn-sm">
                          <i class="fa fa-times"></i>
                        </button>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <!-- End of Tied Option Section -->
              </ng-container>


            </div>
          </div>
          <!--Orientation vertical(End here)-->
          <!--Orientation Horizontal-->
          <!-- Div rule - if tied(array,empty) & Orientention-'H' -->
          <div class="row w-100 mx-0 width-auto-first-child"
               *ngIf="tiedOptions && orientation == 'H' && rule != 'specific'">
            <div class="col-sm-12 name-section-div {{cssClass}}" style="display: flex; flex-wrap: nowrap;"
                   *ngFor="let controlRow of controlRowCol.controls; let i = index">
              <div class="col-auto-width name-section ">
                <ng-container [formGroup]="controlRow">
                  <div class="col-auto-width name-section">
                    <div class="col-sm-12 font-size-small pr-0 first-child-padd">
                      Name
                    </div>
                    <div class="col-12 pr-0 first-child-padd">
                      <!-- Any Case -->
                      <ng-container *ngIf="rule === 'any'">
                        <p-autoComplete id="name{{ id }}{{ i }}" formControlName="name"
                                        class="product col-12 pl-0 product-input-width" [minLength]="1" [suggestions]="nameResults"
                                        (completeMethod)="filterName($event, i)"
                                        [disabled]="controlRow.get('disableProp.name').value || disableName"
                                        (onBlur)="tiedOptions && !tiedOptions.length ? onNameSelect($event, i):setName()">
                        </p-autoComplete>
                      </ng-container>

                      <!-- Limit Case -->
                      <ng-container *ngIf="rule === 'limit'">
                        <p-autoComplete id="name{{ id }}{{ i }}" delay="1000"
                                        class="col-12 pl-0 pr-0 product-limit product-limit-dropdown" formControlName="name"
                                        [suggestions]="nameResults" (completeMethod)="filterName($event, i)" [dropdown]="true"
                                        [readonly]="false" [minLength]="1" [disabled]="
                            standAlone ||
                            controlRow.get('disableProp.name').value ||
                            disableName
                          " [forceSelection]="true" (onBlur)="onNameSelect($event, i)">
                        </p-autoComplete>
                      </ng-container>
                    </div>
                  </div>

                  <div class="col-auto-width name-section" *ngFor="let t of tiedOptions; let idx = index"> 
                    <div class="col-sm-12 font-size-small">
                      {{tiedOptions[idx]}}
                    </div>
                    <div class="col-12 pr-0">
                      <p-autoComplete id="value{{ id }}{{ i }}{{idx}}" formControlName="{{tiedOptions[idx]}}" class="col-12 pl-0 pr-0 product"
                                      [minLength]="1" [suggestions]="valueResultsTied[idx]" (completeMethod)="filterValue($event, i, idx)"
                                      [multiple]="allowMultipleValues" (onKeyUp)="
                        allowMultipleValues ? onValueKeyUp($event, i) : valueCapitalize? ($event.target.value = $event.target.value.toUpperCase()) : null
                      " [disabled]="
                        controlRow.get('disableProp.value')?.value ||
                        disableValue
                      " [dropdown]="!allowMultipleValues">
                      </p-autoComplete>
                    </div>
                  </div>
               
                  <div class="col-sm-auto align-btn text-center" id="btn-shimmer">
                    <ng-container *ngIf="!rule && i == 0">
                      <ngx-shimmer-loading style="width: 100%" [width]="'100%'" [height]="'30px'">
                      </ngx-shimmer-loading>
                    </ng-container>
                    <ng-container *ngIf="rule && allowNewRow">
                      <button *ngIf="i == 0" type="button" pRipple (click)="expanded = true; addControlRow(i)"
                              class="btn btn-primary btn-sm">
                        <i class="fa fa-plus"></i>
                      </button>
                      <button *ngIf="i > 0" type="button" pRipple (click)="deleteControlRow(i)"
                              class="btn btn-danger btn-sm">
                        <i class="fa fa-times"></i>
                      </button>
                    </ng-container>
                  </div>
                </ng-container>
              </div>


            </div>
          </div>
          <!--Orientation Horizontal(End)-->
        </div>
      </ng-container>
    </div>
  </div>
</div>
<p-overlayPanel #op (onHide)="resolutionControl=null" appendTo="body" [style]="{width: '25vw'}">
  <ng-template pTemplate>
    <p-orderList *ngIf="resolutionOptions" styleClass="spec-area" [value]="resolutionOptions" filterBy="name"
                 [scrollable]="true" scrollHeight="500px" (onSelectionChange)="resolveControl($event)">
      <ng-template let-attr pTemplate="item">
        {{attr.name}}
      </ng-template>
    </p-orderList> 
  </ng-template>
</p-overlayPanel>
