body {
  font-size: 12px;
}
.col-sm-2.align-label {
  /*line-height: 80px;*/
  text-align: right;
  font-size: 14px;
  position: relative;
  bottom: 0px;
}

li.ui-multiselect-item {
  height: 50px !important;
}

.align-btn > button {
  margin-top: 16px;
}

#multiple-select .p-autocomplete {
  display: inherit;
  position: relative;
}

#product-input .p-autocomplete {
  display: inherit;
  position: relative;
}

#product-input .p-inputtext {
  width: 100%;
}

#product-input input.ng-tns-c52-1 {
  width: 100px;
}

product-list
  span.ng-tns-c8-6.ui-autocomplete.ui-widget.ui-autocomplete-multiple {
  width: 100%;
}

product-list ul {
  width: 100%;
}

div#multiple-select
  span.ng-tns-c8-6.ui-autocomplete.ui-widget.ui-autocomplete-multiple {
  width: 100%;
}

div#multiple-select
  span.ng-tns-c8-6.ui-autocomplete.ui-widget.ui-autocomplete-multiple
  > ul {
  width: 100%;
}

a.collapsed .fas:before {
  content: "\f0d8";
  font-family: "FontAwesome";
  font-style: normal;
  color: #0c7cd5;
}

a.expanded .fas:before {
  content: "\f0d7";
  font-family: "FontAwesome";
  font-style: normal;
  color: #0c7cd5;
}

/* [data-toggle="collapse"].collapsed .fas:before {
  content: "\f078";
  font-family: 'FontAwesome';
  font-style: normal;
  color: #0c7cd5;
} */

.margin_top_left {
  margin-top: 19px;
  margin-left: 0px;
  top: 0px;
  left: 0px;
  box-shadow: none;
}


.width-auto-first-child > .name-section-div > .col-auto-width.name-section:first-child > .col-auto-width.name-section > .col-sm-12.font-size-small.pr-0.first-child-padd{
  padding-left: 0px;
  padding-right: 15px !important;
  white-space: nowrap;
}

.width-auto-first-child > .name-section-div > 
.col-auto-width.name-section > .col-auto-width.name-section > 
.col-sm-12.font-size-small{
  padding-right: 0px !important;
  white-space: nowrap;
}

.width-auto-first-child > .name-section-div > .col-auto-width.name-section:first-child > 
.col-auto-width.name-section > .col-12.pr-0.first-child-padd{

  padding-left: 0px;
}
::ng-deep .spec-area .p-orderlist-controls {
  display: none;
}
