
<div class="row mt-2">
  <div class="col-4">
    <span class="p-float-label">
      <input id="result-label" type="text" size="20" pInputText [(ngModel)]="result.label">
      <label for="result-label">Label</label>
    </span>
  </div>
  <div class="col-4">
    <span class="p-float-label">
      <input id="result-tiedOptions" type="text" size="50" pInputText [(ngModel)]="result.tmpTiedOptions" (onDebounce)="update($event,'tiedOptions')">
      <label for="result-tiedOptions">Tied Options</label>
    </span>
  </div>
  <div class="col-4">
    <span class="p-float-label">
      <input id="result-regex" type="text" size="50" pInputText [(ngModel)]="result.regex">
      <label for="result-regex">Regex</label>
    </span>
  </div>
</div>

<div class="row mt-5">
  <div class="col-3">
    <span class="p-float-label">
      <p-dropdown inputId="result-allowNewRow" [autoDisplayFirst]="false"  styleClass="w-100" [options]="[{label:'Y', value: true},{label:'N', value: false}]" [(ngModel)]="result.allowNewRow"></p-dropdown>
      <label for="result-allowNewRow">New Rows</label>
    </span>
  </div>
  <div class="col-3">
    <span class="p-float-label">
      <p-dropdown inputId="result-allowMultipleValues" [autoDisplayFirst]="false"  styleClass="w-100" [options]="[{label:'Y', value: true},{label:'N', value: false}]" [(ngModel)]="result.allowMultipleValues"></p-dropdown>
      <label for="result-allowMultipleValues">Multiple Values</label>
    </span>
  </div>
  <div class="col-3">
    <span class="p-float-label">
      <p-dropdown inputId="result-standAlone" [autoDisplayFirst]="false"  styleClass="w-100" [options]="[{label:'Y', value: true},{label:'N', value: false}]" [(ngModel)]="result.standAlone"></p-dropdown>
      <label for="result-standAlone">Stand Alone</label>
    </span>
  </div>
  <div class="col-3">
    <span class="p-float-label">
      <p-dropdown inputId="result-nameOnly" [autoDisplayFirst]="false"  styleClass="w-100" [options]="[{label:'Y', value: true},{label:'N', value: false}]" [(ngModel)]="result.nameOnly"></p-dropdown>
      <label for="result-nameOnly">Name Only</label>
    </span>
  </div>
</div>

<div class="row mt-5"> 
  <div class="col-3">
    <span class="p-float-label">
      <p-dropdown inputId="result-valueCapitalize" [autoDisplayFirst]="false" styleClass="w-100" [options]="[{label:'Y', value: true},{label:'N', value: false}]" [(ngModel)]="result.valueCapitalize"></p-dropdown>
      <label for="result-valueCapitalize">Capitalize</label>
    </span>
  </div>
  <div class="col-3">
    <span class="p-float-label">
      <p-dropdown inputId="result-orientation" styleClass="w-100" [autoDisplayFirst]="false" [options]="[{label:'Vertical', value: 'V'},{label:'Horizontal', value: 'H'}]" [(ngModel)]="result.orientation"></p-dropdown>
      <label for="result-orientation">Orientation</label>
    </span>
  </div>
  <div class="col-3">
    <span class="p-float-label">
      <p-dropdown inputId="result-ignoreParent" [autoDisplayFirst]="false" styleClass="w-100" [options]="[{label:'Y', value: true},{label:'N', value: false}]" [(ngModel)]="result.ignoreParent"></p-dropdown>
      <label for="result-ignoreParent">Ignore Parent</label>
    </span>
  </div>
  <div class="col-3">
    <span class="p-float-label">
      <p-dropdown inputId="result-ignoreSpecificValue" [autoDisplayFirst]="false" styleClass="w-100" [options]="[{label:'Y', value: true},{label:'N', value: false}]" [(ngModel)]="result.ignoreSpecificValue"></p-dropdown>
      <label for="result-ignoreSpecificValue">Ignore Value</label>
    </span>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <span class="p-float-label">
      <input id="result-resolution" type="text" size="500" pInputText [(ngModel)]="result.resolution">
      <label for="result-resolution">Resolution</label>
    </span>
  </div>
  </div>
  <div class="d-flex flex-row-reverse mt-5">
    <button pButton type="button" pRipple label="Save & Close" (click)="save()"></button>
  </div>
