<div class="col-12">
  <h1 style="font-weight: 500;">
    <!-- <i aria-hidden="true" class="fa fa-plus margin-right-5"></i>
    <i aria-hidden="true" class="fa fa-minus"></i>  -->
    <i class="fa fa-wpforms mr-1" aria-hidden="true"></i> ITP-2 Form
  </h1>
</div>
<div class="col-12 col-md-12 for-multiple-select-dropdown">
  <form class="form-inline" [formGroup]="productForm" id="multiple-select"
    onkeypress="if (event.keyCode == 13) { return false; }">
    <app-product-attr-input class="col-12" [id]="260006" formControlName="productSize" [allowNewRow]="true"
      [regex]="'^[ a-zA-Z0-9,#.-]+$'" [disableName]="true" [disableValue]="false" [allowMultipleValues]="true">
    </app-product-attr-input>

    <app-product-attr-input class="col-12" [id]="260008" formControlName="productSize1" [allowNewRow]="true"
      [regex]="'^[ a-zA-Z0-9,#.-]+$'">
    </app-product-attr-input>

    <app-product-attr-input class="col-12" [id]="260009" formControlName="productSize2" [allowNewRow]="true"
      [regex]="'^[ a-zA-Z0-9,#.-]+$'">
    </app-product-attr-input>

    <app-product-attr-input class="col-12" [id]="240241" formControlName="productSize10" [allowNewRow]="true"
      [regex]="'^[ a-zA-Z0-9,#.-]+$'">
    </app-product-attr-input>

    <app-product-attr-input class="col-12" [id]="240235" formControlName="productSize11" [allowNewRow]="true"
      [regex]="'^[ a-zA-Z0-9,#.-]+$'">
    </app-product-attr-input>

    <app-pricing-table formControlName="pricingData" [columns]="pricingCols" [interval]=50></app-pricing-table>

    <div class="col-12 mt-2">
      <div class="col-12 text-center">
        <button class="btn btn-secondary mr-3 btn_min-width">
          Back
        </button>
        <button (click)="handleSubmitForm()" class="btn btn-primary btn_min-width">
          Submit
        </button>
      </div>
    </div>
  </form>
  <br />
  <div class="col-12 pl-0">
    <h1 style="font-weight: 500;">
      <!-- <i aria-hidden="true" class="fa fa-plus margin-right-5"></i>
      <i aria-hidden="true" class="fa fa-minus"></i>  -->
      ITP-2 Form Data
    </h1>
  </div>
  <ngx-json-viewer [json]="productForm.value"></ngx-json-viewer>
</div>