<p-toast [baseZIndex]="1002"></p-toast>
<p-toast [baseZIndex]="1002" key="queue" (onClose)="onToastClose($event)" #queueToast></p-toast>
<div class='container-fluid'>
  <div class='row'>
    <header id="header">
      <div id="logo-group">
        <span id="logo">
          <img style="width:300px;height:auto" src="../assets/logo_pp_w.png" alt="Positive Products">
        </span>
      </div>

      <div class="pull-right">
        <div id="hide-menu" class="btn-header pull-right">
          <span> <a (click)="toggleMinified()" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
        </div>
        <div class="btn-header transparent pull-right">
          <span> <a title="Sign Out"><i class="fa fa-sign-out"></i></a> </span>
        </div>
      </div>
      <!-- end fullscreen button -->
      <!-- end pulled right: nav area -->
    </header>
    <aside id="left-panel">
      <!-- User info -->
      <div class="login-info">
        <div style="z-index:-1;text-align:center;" [ngStyle]="{'height' : (isMinified ? '25px' : '85px')}" class="text-dark">
          <i class="fa fa-connectdevelop fa-spin fa-fw" [@breathe]="state" (@breathe.done)="onEnd($event)" aria-hidden="true" *ngIf="!isMinified"></i>
          <i class="fa fa-connectdevelop fa-spin fa-fw" style="font-size:25px" aria-hidden="true" *ngIf="isMinified"></i>
        </div>
        <span style="z-index:1; margin-top:-85px;">
          <a>
            <!--<span>{{user.preferred_name || user.username}}</span>-->
            <i class="fa fa-angle-down"></i>
          </a>
        </span>
      </div>
      <!-- end user info -->
      <nav>
        <ul *ngIf="currentNavigation" style="padding-right:0;">
          <li [routerLinkActive]="['active']" *ngFor="let nav of currentNavigation; let i = index;" [attr.data-nav-target]="nav.Logo && !nav.Children ? null : i" [attr.routerLinkActiveOptions]="nav.Logo && !nav.Children ? null : { exact: false }" [attr.routerLinkActive]="nav.Logo && !nav.Children ? null : ['active']">
            <a *ngIf="nav.Logo && !nav.Children" (click)="navigationClicked(nav)" (dblclick)="navigationClickedDetailed(nav)">
              <i class="{{nav.Logo}}"></i> <span class="menu-item-parent">{{nav.Name}}</span>
              <span *ngIf="nav.notification" class="badge pull-right inbox-badge" [ngClass]="{'bg-danger': nav.notification.type == 'danger','bg-info': nav.notification.type == 'info'}">{{nav.notification.message}}</span>
            </a>
            <a *ngIf="nav.Logo && nav.Children" (click)="toggleNavMenuParentSelected(i)">
              <i class="{{nav.Logo}}"></i> <span class="menu-item-parent">{{nav.Name}}</span>
              <b class="collapse-sign">
                <em class="fa fa-plus-square-o"></em>
              </b>
            </a>
            <ul *ngIf="nav.Children">
              <li [routerLinkActive]="['active']" *ngFor="let child of nav.Children;let x = index;">
                <a *ngIf="child.RelativeUrl" [routerLink]="[child.RelativeUrl]" title="{{child.Name}}">
                  <i class="{{child.Logo}} margin-right-5"></i>
                  <span class="menu-item-parent">{{child.Name}}</span>
                  <span *ngIf="child.notification" class="badge pull-right inbox-badge" [ngClass]="{'bg-color-red': child.notification.type == 'danger'}">{{child.notification.message}}</span>
                </a>
                <a *ngIf="!child.RelativeUrl" (click)="toggleInnerMenu(i,x, $event)">
                  <i class="{{child.Logo}}"></i>
                  {{child.Name}}
                  <b class="collapse-sign">
                    <em class="fa fa-plus-square-o"></em>
                  </b>
                </a>
                <ul [attr.data-nav-inner]="x" style="display:none;">
                  <li *ngFor="let child1 of child.Children;" [routerLinkActive]="['active']">
                    <a [routerLink]="[child1.RelativeUrl]" title="{{child1.Name}}"><span class="menu-item-parent">{{child1.Name}}</span></a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <span class="minifyme" (click)="toggleMinified()"> <i class="fa fa-arrow-circle-left fa-2x"></i> </span>
    </aside>
    <div id="main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<p-dialog header="System Queue List" [(visible)]="showQueueDetails" [modal]="true" [resizable]="false"
          [transitionOptions]="'200ms'" [blockScroll]="true" [dismissableMask]="true" [style]="{width:'60%'}">
  <div *ngIf="showQueueDetails" class="container-fluid">
    <p-treeTable [value]="recentSystemQueues" [scrollable]="true" scrollHeight="500px">
      <ng-template pTemplate="header">
        <tr>
          <th>Status</th>
          <th>Entry Date</th>
          <th>Notified/End Date</th>
          <th>Type</th>
          <th>Response</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr [ttRow]="rowNode">
          <td>
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            {{rowData.status}}
            <button (click)="onQueueRefreshClicked(rowData)" *ngIf="rowData.status=='FAILED' && rowData.type" class="btn-xs btn-light"><i class="fa fa-refresh"></i></button>
          </td>
          <td>{{rowData.entryDate}}</td>
          <td>{{rowData.notifiedDate}}</td>
          <td>{{rowData.type}}</td>
          <td><b (click)="showOverlay(rowData.meta,$event)">{{rowData.response}}</b></td>
        </tr>
      </ng-template>
    </p-treeTable>

  </div>
</p-dialog>
<p-overlayPanel #op>
  <pre>
    {{currentMeta}}
</pre>
</p-overlayPanel>
